@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div. contentblock {width: 970px;} }

html {
	overflow-x: hidden;
}

body {
	font-family: 'Rubik', sans-serif; /*тип шрифта по умолчанию*/
	font-size: 24px; /*размер шрифта по умолчанию*/
  	margin: 0 auto;
	max-width: 1200px;	
	background-image: url(img/bg1.jpg); /*Путь к фону страницы*/
	background-attachment: fixed; /* Фиксируем фон веб-страницы */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-x: hidden; /*Нет горизонтальной прокрутки*/
	;
}


header, footer {
	
	color: white; /* Цвет текста */
	position: relative; /* Фиксированное положение */
	text-align: center;
	max-width: 100%; /* Ширина слоя */
	min-height: 120px;/*высота слоя*/ 
	margin-left: auto;
    margin-right: auto;
    
}

header {
	background-image: linear-gradient(to bottom, #540203 90%, white);
	/*background-color: #540203; /* Цвет фона */
	padding: 5px 0 0 0;
	margin-bottom: 0;
}

header .container {
	display: flex; /* Включаем режим Flexbox. */
	flex-wrap: wrap;
	flex-direction: row; /* Держим элементы в строке */
	justify-content: space-between; /* Распределяем элементы внутри шапки */
	flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

header nav{
	padding-top: 30px;
	margin-bottom: 5%;
}

header a { /*Ссылки в шапке*/
	color: #EEE8AA;
	font-family: 'Roboto Slab', serif; /*Шрифт*/
	font-size: 36px; /*размер шрифта*/
	text-decoration: none; /*Убрать подчеркивание*/
	padding: 0 30px 0 30px; /*внешний отступ 50 справа*/
}

a img {
	padding: 0 0 20px 50px;
}



/*Подвал Сайта*/

footer {
	background-image: linear-gradient(to top, #540203 90%, white);
	min-height: 120px;
    margin-bottom: 0;
    margin-top: -10px;
    /*padding: 0;  Поля вокруг текста */
}

footer .footer-page {
	font-size: 20px;
	height: 120px;
	display: flex;
	flex-direction: row; /* Держим элементы в строке */
	justify-content: space-between; /* Распределяем элементы внутри шапки */
	align-items: center;
	color: #EEE8AA;
}

.copyright {
	text-align: left;
	padding-left: 50px;
}

.developed {
	text-align: right;
	padding-top: 0px;
	padding-right: 50px;
	order: 1;
}

.developed a {
	color: #EEE8AA;
	text-decoration: none; /*Убрать подчеркивание*/
}

a:hover, .developed a:hover { /*При наведении на ссылку текст меняется*/
	color: #FFD700;
}
